[ req ]
default_bits                = 1024          # Size of keys
default_keyfile             = {{ key_file }}       # name of generated keys
default_md              = md5               # message digest algorithm
string_mask             = nombstr       # permitted characters
distinguished_name          = req_dn
prompt = no

[ req_dn ]
organizationName          = {{ organisation_name }}
organizationalUnitName          = {{ organisation_unit_name }}
emailAddress                = {{ email_address }}
localityName                = {{ locality_name }}
stateOrProvinceName         = {{ state_province_name }}
countryName             = {{ country_name }}
commonName              = {{ common_name }}

[ v3_ca ]
basicConstraints            = CA:TRUE
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid:always,issuer:always
 
[ v3_req ]
basicConstraints            = CA:FALSE
subjectKeyIdentifier            = hash