$TTL 30M
{{ domain }}.	IN	SOA	ns1.{{ domain }}. webmaster.{{ domain }}. (
			1055026229
			6H
			1H
			1209600
			20M )

{# Add the parent domain #}
{{ domain }}.        IN    A     {{ ipv4[0] }}
{{ domain }}.        IN    AAAA     {{ ipv6[0] }}

{# Add the IPv4 Name Server A Records #}
{% for key, value in enumerate(ipv4) %}
ns{{ key + 1 }}.{{ domain }}.    IN    A     {{ value }}
{% endfor %}

{# Add the IPv6 Name Server AAAA Records #}
{% for key, value in enumerate(ipv6) %}
ns{{ key + 1 }}.{{ domain }}.    IN    AAAA     {{ value }}
{% endfor %}

{# Add the Name Server NS Records #}
{% for key in range(nscount) %}
{{ domain }}.                    IN    NS    ns{{ key + 1 }}.{{ domain }}.
{% endfor %}

{# Add the Standard Subdomain Records #}
{% for std_subdomain in std_subdomains %}
{{ std_subdomain }}.{{ domain }}.   IN    A     {{ ipv4[0] }}
{{ std_subdomain }}.{{ domain }}.   IN    AAAA     {{ ipv6[0] }}
{% endfor %}

{# Add the mail Records #}
mail.{{ domain }}.   IN    A     {{ ipv4[0] }}
mail.{{ domain }}.   IN    AAAA     {{ ipv6[0] }}
mail.{{ domain }}.   IN    MX    1 {{ domain }}.
{{ domain }}.        IN    MX    1 {{ domain }}.



{# Add some subdomains #}
{% for sub_domain in sub_domains %}

{{ sub_domain }}.   IN    A     {{ ipv4[0] }}
{{ sub_domain }}.   IN    AAAA     {{ ipv6[0] }}

{# Add the mail Records #}
mail.{{ sub_domain }}.   IN    A     {{ ipv4[0] }}
mail.{{ sub_domain }}.   IN    AAAA     {{ ipv6[0] }}
mail.{{ sub_domain }}.   IN    MX    1 {{ domain }}.
{{ sub_domain }}.        IN    MX    1 {{ domain }}.

{# Add the Standard Subdomain Records #}
{% for std_subdomain in std_subdomains %}
{{ std_subdomain }}.{{ sub_domain }}.   IN    A     {{ ipv4[0] }}
{{ std_subdomain }}.{{ sub_domain }}.   IN    AAAA     {{ ipv6[0] }}
{% endfor %}

{% endfor %}