[server:main]
use = egg:Paste#http
host = 0.0.0.0
port = 7654

{% for item in data %}
[app:{{ item.module }}]
use = egg:{{ item.module }}
reload_templates = false
debug_authorization = false
debug_notfound = false
debug_templates = false
default_locale_name = en
db_string = postgresql+psycopg2://{{ item.user }}:changeme@localhost/{{ item.user }}
db_echo = false
jinja2.directories = {{ item.module }}:templates
auth_secret = sosecret
auth_cookie_name = {{ item.module }}
{% endfor %}

[composite:main]
use = egg:Paste#urlmap
{% for item in data -%}
domain {{ item.domain }} port 80 / = {{ item.module }}
domain www.{{ item.domain }} port 80 / = {{ item.module }}
{% endfor %}
