smtpd_banner = {{ smtp_banner }}

# appending .domain is the MUA's job. Requires .com on end for example.
append_dot_mydomain = no

# TLS parameters
smtpd_tls_cert_file = {{ ssl_cert_path }}
smtpd_tls_key_file = {{ ssl_key_path }}
smtpd_use_tls = yes
smtpd_tls_session_cache_database = btree:/etc/postfix/scached
smtp_tls_session_cache_database = btree:/etc/postfix/scache

# server hostname
myhostname = {{ hostname }}
alias_maps = hash:{{ postfix_virtual_path }}
alias_database = hash:{{ postfix_virtual_path }}
myorigin = {{ hostname }}
mydestination = {{ domains }}, localhost.localdomain, localhost
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
smtp_sasl_type = cyrus
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
broken_sasl_auth_clients = yes
smtpd_recipient_restrictions = permit_sasl_authenticated,reject_unauth_destination
smtpd_tls_auth_only = no
smtp_use_tls = yes
smtp_tls_note_starttls_offer = yes
smtpd_tls_CAfile = {{ ssl_pem_path }}
smtpd_tls_loglevel = 1
smtpd_tls_received_header = yes
smtpd_tls_session_cache_timeout = 3600s
tls_random_source = dev:/dev/urandom
home_mailbox = Maildir/
virtual_alias_domains = {{ domains }}
virtual_alias_maps = hash:{{ postfix_virtual_path }}
daemon_directory = /usr/lib/postfix
smtpd_sasl_type = {{ postfix_sasl_type }}
smtpd_sasl_path = {{ postfix_sasl_path }}